*{
  padding:0;
  margin: 0;
}

/*------------------------------- CSS Reset END --------------------------------*/
body{
   width: 35%;
   height: 100%;
   margin:auto;
   background-color: #152836;
   font-family: Times;
   font-size: 18px;
   color: white;
}

#btn{
  background-color: white;
}

.music-box {
    display: none;
}

footer div a:link, a:visited {
    color: red;
}
footer div a:hover{
   color:yellow;
}

