html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}


/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


/*=============================================================*/

body {
  /*font-family: 'Fjalla One', sans-serif;*/
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
  background-color: #FFFFFF;
}

a:link, a:visited {
  color: #bfbfbf;
}

a:hover {
  color: #EB1781;
}

div {
  width: 800px;
  height: 600px;
  margin: 30px auto;
}

#title {
  display: block;
  font-size: 72px;
  margin: 150px auto;
  text-align: center;
}

h2 {
  margin-top: 20px;
  font-size: 56px;
}

#intro {
  position: absolute;
  top: 40%;
  left: 29%;
  display: block;
}

#pics {
  display: none;
  background-image: url('img/out_bw.png');
  border-radius: 25px;
  position: absolute;
  top: 15%;
  left: 29%;
}

img {
  border-radius: 25px;
}

.all {
  position: absolute;
  overflow: hidden;
}

#move {
  font-size: 38px;
  color: #FFFFFF;
  font-weight: 400;
  transform: rotate(340deg);
  top: 13%;
  left: 8%;
}

#ysl_bw {
  width: 105px;
  top: 32.7%;
  left: 47.5%;
}

#ysl_txt {
  display: none;
  top: 30%;
  left: 49.2%;
  transform: rotate(342deg);
}

#becca_bw {
  width: 115px;
  top: 42.3%;
  left: 54.0%;
}

#becca_txt {
  display: none;
  top: 53%;
  left: 70%;
  transform: rotate(20deg);
}

#tf_bw {
  width: 145px;
  top: 39.5%;
  left: 35.7%;
}

#tf_txt {
  display: none;
  top: 40%;
  left: 32%;
  transform: rotate(20deg);
  color: #FFFFFF;
}

#lp_bw {
  width: 150px;
  top: 50.0%;
  left: 26.0%;
}

#lp_txt {
  display: none;
  bottom: 15%;
  left: 18.5%;
  transform: rotate(30deg);
}

#ud_bw {
  height: 210px;
  top: 57.0%;
  left: 44.8%;
}

#ud_txt {
  display: none;
  top: 77%;
  left: 38.5%;
  transform: rotate(90deg);
}

#brow_bw {
  width: 160px;
  top: 57%;
  left: 47%;
}

#brow_txt {
  display: none;
  top: 72%;
  left: 44.7%;
  transform: rotate(60deg);
}

#bbr_bw {
  width: 165px;
  top: 54.7%;
  left: 55%;
}

#bbr_txt {
  display: none;
  top: 75%;
  left: 67.0%;
  transform: rotate(342deg);
}

#giraffe_bw {
  width: 220px;
  top: 1%;
  left: 64%;
}

#giraffe_txt {
  display: none;
  top: 18%;
  left: 51.2%;
  /*transform: rotate(342deg);*/
}

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  height: 35px;
  width: 100%;
  padding: 15px 0 15px 0;
  background: #FFFFFF;
  margin-top: 40px;
}

#go-link {
  width: 300px;
  height: 20px;
  margin: auto;
  color: #bfbfbf;
  font-weight: bold;
}
